button.p-button {
  border-radius: 12px;
  font-size: 15px;
  height: var(--regular-height);
  display: flex;
  justify-content: center;
  text-decoration: none;
  &-primary {
    background: var(--primary-color);
    border-color: var(--primary-color);
    &:hover {
      background: var(--primary-hover-color)
    }
  }
  &.mini {
    border-radius: 10px;
    font-size: 14px;
    height: var(--mini-height);
  }
  &.small {
    border-radius: 10px;
    font-size: 14px;
    height: var(--small-height);
  }
  &.medium {
    font-size: 16px;
    height: var(--medium-height);
  }
  &.large {
    font-size: 17px;
    height: var(--large-height);
  }

  &-secondary {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  &-info {
    background: transparent;
    color: var(--primary-color)
  }
  &-danger {
    background: var(--danger-pink-color);
    border-color: var(--danger-pink-color);
  }
  &-outlined {
    background: transparent;
    color: var(--primary-color);
    &.p-button-secondary {
      border-color: var(--base-border-color);
      color: var(--main-text-color);
      background: var(--bg-white);
      &:hover {
        border-color: var(--base-border-hover-color);
        background: var(--bg-white);
      }
    }
    &.p-button-danger {
      color: var(--danger-pink-color);
    }
    &:hover {
      background: transparent;
    }
  }
  .p-button-label {
    flex: none;
  }
  .p-button-icon-left {
    font-size: 20px;
  }
}