@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o0kov');
  src:  url('fonts/icomoon.eot?o0kov#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o0kov') format('truetype'),
    url('fonts/icomoon.woff?o0kov') format('woff'),
    url('fonts/icomoon.svg?o0kov#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-travelOutline-traine1:before {
  content: "\ea36";
  color: #475569;
}
.icon-Outline-global:before {
  content: "\e9bd";
  color: #44546f;
}
.icon-Bold-Arrow-LeftSquare:before {
  content: "\e900";
  color: #475569;
}
.icon-Bold-Arrow-Right:before {
  content: "\e901";
  color: #475569;
}
.icon-Bold-Arrow-Right2:before {
  content: "\e902";
  color: #475569;
}
.icon-Bold-Arrow-Right3:before {
  content: "\e903";
  color: #475569;
}
.icon-Bold-Arrow-RightCircle:before {
  content: "\e904";
  color: #475569;
}
.icon-Bold-Arrow-RightSquare:before {
  content: "\e905";
  color: #475569;
}
.icon-Bold-Arrow-Up:before {
  content: "\e906";
  color: #475569;
}
.icon-Bold-Arrow-Up2:before {
  content: "\e907";
  color: #475569;
}
.icon-Bold-Arrow-Up3:before {
  content: "\e908";
  color: #475569;
}
.icon-Bold-Arrow-UpCircle:before {
  content: "\e909";
  color: #475569;
}
.icon-Bold-Arrow-UpSquare:before {
  content: "\e90a";
  color: #475569;
}
.icon-Bold-Bag .path1:before {
  content: "\e90b";
  color: rgb(71, 85, 105);
}
.icon-Bold-Bag .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Bag .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Bag2:before {
  content: "\e90e";
  color: #475569;
}
.icon-Bold-Bookmark:before {
  content: "\e90f";
  color: #475569;
}
.icon-Bold-Buy:before {
  content: "\e910";
  color: #475569;
}
.icon-Bold-Calendar .path1:before {
  content: "\e911";
  color: rgb(71, 85, 105);
}
.icon-Bold-Calendar .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Calendar .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Calendar .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Calendar .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Calendar .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Calendar .path7:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Call:before {
  content: "\e918";
  color: #475569;
}
.icon-Bold-Calling:before {
  content: "\e919";
  color: #475569;
}
.icon-Bold-CallMissed:before {
  content: "\e91a";
  color: #475569;
}
.icon-Bold-CallSilent:before {
  content: "\e91b";
  color: #475569;
}
.icon-Bold-Camera .path1:before {
  content: "\e91c";
  color: rgb(71, 85, 105);
}
.icon-Bold-Camera .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Camera .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Camera .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(71, 85, 105);
}
.icon-Bold-Card:before {
  content: "\e920";
  color: #475569;
}
.icon-Bold-Category:before {
  content: "\e921";
  color: #475569;
}
.icon-Bold-Chart .path1:before {
  content: "\e922";
  color: rgb(71, 85, 105);
}
.icon-Bold-Chart .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Chart .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Chart .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Chat .path1:before {
  content: "\e926";
  color: rgb(71, 85, 105);
}
.icon-Bold-Chat .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Chat .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Chat .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-check-circle:before {
  content: "\e92a";
  color: #475569;
}
.icon-Bold-CloseSquare:before {
  content: "\e92b";
  color: #475569;
}
.icon-Bold-Danger:before {
  content: "\e92c";
  color: #475569;
}
.icon-Bold-Delete:before {
  content: "\e92d";
  color: #475569;
}
.icon-Bold-Discount .path1:before {
  content: "\e92e";
  color: rgb(71, 85, 105);
}
.icon-Bold-Discount .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Discount .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Discovery:before {
  content: "\e931";
  color: #475569;
}
.icon-Bold-Document .path1:before {
  content: "\e932";
  color: rgb(71, 85, 105);
}
.icon-Bold-Document .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Document .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Document .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Download:before {
  content: "\e936";
  color: #475569;
}
.icon-Bold-Edit:before {
  content: "\e937";
  color: #475569;
}
.icon-Bold-EditSquare:before {
  content: "\e938";
  color: #475569;
}
.icon-Bold-Filter:before {
  content: "\e939";
  color: #475569;
}
.icon-Bold-Filter2:before {
  content: "\e93a";
  color: #475569;
}
.icon-Bold-Folder:before {
  content: "\e93b";
  color: #475569;
}
.icon-Bold-global:before {
  content: "\e93c";
  color: #475569;
}
.icon-Bold-Graph:before {
  content: "\e93d";
  color: #475569;
}
.icon-Bold-Heart:before {
  content: "\e93e";
  color: #475569;
}
.icon-Bold-help-circle .path1:before {
  content: "\e93f";
  color: rgb(71, 85, 105);
}
.icon-Bold-help-circle .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-help-circle .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Hide:before {
  content: "\e942";
  color: #475569;
}
.icon-Bold-Home:before {
  content: "\e943";
  color: #475569;
}
.icon-Bold-Image:before {
  content: "\e944";
  color: #475569;
}
.icon-Bold-Image2:before {
  content: "\e945";
  color: #475569;
}
.icon-Bold-InfoCircle:before {
  content: "\e946";
  color: #475569;
}
.icon-Bold-InfoSquare:before {
  content: "\e947";
  color: #475569;
}
.icon-Bold-Location:before {
  content: "\e948";
  color: #475569;
}
.icon-Bold-Lock:before {
  content: "\e949";
  color: #475569;
}
.icon-Bold-Login:before {
  content: "\e94a";
  color: #475569;
}
.icon-Bold-Logout:before {
  content: "\e94b";
  color: #475569;
}
.icon-Bold-Message:before {
  content: "\e94c";
  color: #475569;
}
.icon-Bold-MoreCircle .path1:before {
  content: "\e94d";
  color: rgb(71, 85, 105);
}
.icon-Bold-MoreCircle .path2:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-MoreCircle .path3:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-MoreCircle .path4:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-MoreSquare .path1:before {
  content: "\e951";
  color: rgb(71, 85, 105);
}
.icon-Bold-MoreSquare .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-MoreSquare .path3:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-MoreSquare .path4:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Notification:before {
  content: "\e955";
  color: #475569;
}
.icon-Bold-Paper .path1:before {
  content: "\e956";
  color: rgb(71, 85, 105);
}
.icon-Bold-Paper .path2:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Paper .path3:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-PaperDownload:before {
  content: "\e959";
  color: #475569;
}
.icon-Bold-PaperFail:before {
  content: "\e95a";
  color: #475569;
}
.icon-Bold-PaperNegative:before {
  content: "\e95b";
  color: #475569;
}
.icon-Bold-PaperPlus:before {
  content: "\e95c";
  color: #475569;
}
.icon-Bold-PaperUpload:before {
  content: "\e95d";
  color: #475569;
}
.icon-Bold-Password:before {
  content: "\e95e";
  color: #475569;
}
.icon-Bold-Play:before {
  content: "\e95f";
  color: #475569;
}
.icon-Bold-Plus:before {
  content: "\e960";
  color: #475569;
}
.icon-Bold-Profile:before {
  content: "\e961";
  color: #475569;
}
.icon-Bold-receipt-search:before {
  content: "\e962";
  color: #475569;
}
.icon-Bold-Scan:before {
  content: "\e963";
  color: #475569;
}
.icon-Bold-Search:before {
  content: "\e964";
  color: #475569;
}
.icon-Bold-Send:before {
  content: "\e965";
  color: #475569;
}
.icon-Bold-Setting:before {
  content: "\e966";
  color: #475569;
}
.icon-Bold-ShieldDone:before {
  content: "\e967";
  color: #475569;
}
.icon-Bold-ShieldFail:before {
  content: "\e968";
  color: #475569;
}
.icon-Bold-Show:before {
  content: "\e969";
  color: #475569;
}
.icon-Bold-simcard:before {
  content: "\e96a";
  color: #475569;
}
.icon-Bold-Star:before {
  content: "\e96b";
  color: #475569;
}
.icon-Bold-Swap:before {
  content: "\e96c";
  color: #475569;
}
.icon-Bold-Ticket:before {
  content: "\e96d";
  color: #475569;
}
.icon-Bold-TicketStar:before {
  content: "\e96e";
  color: #475569;
}
.icon-Bold-TickSquare:before {
  content: "\e96f";
  color: #475569;
}
.icon-Bold-TimeCircle:before {
  content: "\e970";
  color: #475569;
}
.icon-Bold-TimeSquare:before {
  content: "\e971";
  color: #475569;
}
.icon-Bold-Unlock:before {
  content: "\e972";
  color: #475569;
}
.icon-Bold-Upload:before {
  content: "\e973";
  color: #475569;
}
.icon-Bold-User2:before {
  content: "\e974";
  color: #475569;
}
.icon-Bold-User3:before {
  content: "\e975";
  color: #475569;
}
.icon-Bold-Video:before {
  content: "\e976";
  color: #475569;
}
.icon-Bold-Voice:before {
  content: "\e977";
  color: #475569;
}
.icon-Bold-Voice2:before {
  content: "\e978";
  color: #475569;
}
.icon-Bold-VolumeDown:before {
  content: "\e979";
  color: #475569;
}
.icon-Bold-VolumeOff:before {
  content: "\e97a";
  color: #475569;
}
.icon-Bold-VolumeUp:before {
  content: "\e97b";
  color: #475569;
}
.icon-Bold-Wallet:before {
  content: "\e97c";
  color: #475569;
}
.icon-Bold-Work:before {
  content: "\e97d";
  color: #475569;
}
.icon-Outline-2User:before {
  content: "\e97e";
  color: #475569;
}
.icon-Outline-3User:before {
  content: "\e97f";
  color: #475569;
}
.icon-Outline-Activity:before {
  content: "\e980";
  color: #475569;
}
.icon-Outline-AddIcon:before {
  content: "\e981";
  color: #475569;
}
.icon-Outline-AddUser:before {
  content: "\e982";
  color: #475569;
}
.icon-Outline-airlineSeat:before {
  content: "\e983";
  color: #475569;
}
.icon-Outline-Arrow-Down:before {
  content: "\e984";
  color: #475569;
}
.icon-Outline-Arrow-Down2:before {
  content: "\e985";
  color: #475569;
}
.icon-Outline-Arrow-Down3:before {
  content: "\e986";
  color: #475569;
}
.icon-Outline-Arrow-DownCircle:before {
  content: "\e987";
  color: #475569;
}
.icon-Outline-Arrow-DownSquare:before {
  content: "\e988";
  color: #475569;
}
.icon-Outline-Arrow-Left:before {
  content: "\e989";
  color: #475569;
}
.icon-Outline-Arrow-Left2:before {
  content: "\e98a";
  color: #475569;
}
.icon-Outline-Arrow-Left3:before {
  content: "\e98b";
  color: #475569;
}
.icon-Outline-Arrow-LeftCircle:before {
  content: "\e98c";
  color: #475569;
}
.icon-Outline-Arrow-LeftSquare:before {
  content: "\e98d";
  color: #475569;
}
.icon-Outline-Arrow-Right:before {
  content: "\e98e";
  color: #475569;
}
.icon-Outline-Arrow-Right2:before {
  content: "\e98f";
  color: #475569;
}
.icon-Outline-Arrow-Right3:before {
  content: "\e990";
  color: #475569;
}
.icon-Outline-Arrow-RightCircle:before {
  content: "\e991";
  color: #475569;
}
.icon-Outline-Arrow-RightSquare:before {
  content: "\e992";
  color: #475569;
}
.icon-Outline-Arrow-Up:before {
  content: "\e993";
  color: #475569;
}
.icon-Outline-Arrow-Up2:before {
  content: "\e994";
  color: #475569;
}
.icon-Outline-Arrow-Up3:before {
  content: "\e995";
  color: #475569;
}
.icon-Outline-Arrow-UpCircle:before {
  content: "\e996";
  color: #475569;
}
.icon-Outline-Arrow-UpSquare:before {
  content: "\e997";
  color: #475569;
}
.icon-Outline-Bag:before {
  content: "\e998";
  color: #475569;
}
.icon-Outline-Bag3:before {
  content: "\e999";
  color: #475569;
}
.icon-Outline-Bookmark:before {
  content: "\e99a";
  color: #475569;
}
.icon-Outline-Booster:before {
  content: "\e99b";
  color: #475569;
}
.icon-Outline-Buy:before {
  content: "\e99c";
  color: #475569;
}
.icon-Outline-Calendar:before {
  content: "\e99d";
  color: #475569;
}
.icon-Outline-Calendar-number:before {
  content: "\e99e";
  color: #475569;
}
.icon-Outline-Call:before {
  content: "\e99f";
  color: #475569;
}
.icon-Outline-Calling:before {
  content: "\e9a0";
  color: #475569;
}
.icon-Outline-CallMissed:before {
  content: "\e9a1";
  color: #475569;
}
.icon-Outline-CallSilent:before {
  content: "\e9a2";
  color: #475569;
}
.icon-Outline-Camera:before {
  content: "\e9a3";
  color: #475569;
}
.icon-Outline-card:before {
  content: "\e9a4";
  color: #475569;
}
.icon-Outline-Category:before {
  content: "\e9a5";
  color: #475569;
}
.icon-Outline-Chair .path1:before {
  content: "\e9a6";
  color: rgb(71, 85, 105);
}
.icon-Outline-Chair .path2:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(247, 248, 249);
}
.icon-Outline-Chair .path3:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(71, 85, 105);
}
.icon-Outline-Chair .path4:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(71, 85, 105);
}
.icon-Outline-Chart:before {
  content: "\e9aa";
  color: #475569;
}
.icon-Outline-Chat:before {
  content: "\e9ab";
  color: #475569;
}
.icon-Outline-Close_SM:before {
  content: "\e9ac";
  color: #475569;
}
.icon-Outline-CloseSquare:before {
  content: "\e9ad";
  color: #475569;
}
.icon-Outline-DangerCircle:before {
  content: "\e9ae";
  color: #475569;
}
.icon-Outline-DangerTriangle:before {
  content: "\e9af";
  color: #475569;
}
.icon-Outline-Delete:before {
  content: "\e9b0";
  color: #475569;
}
.icon-Outline-Discount:before {
  content: "\e9b1";
  color: #475569;
}
.icon-Outline-Discovery:before {
  content: "\e9b2";
  color: #475569;
}
.icon-Outline-Document:before {
  content: "\e9b3";
  color: #475569;
}
.icon-Outline-Download:before {
  content: "\e9b4";
  color: #475569;
}
.icon-Outline-Download-cloud:before {
  content: "\e9b5";
  color: #475569;
}
.icon-Outline-Edit:before {
  content: "\e9b6";
  color: #475569;
}
.icon-Outline-EditSquare:before {
  content: "\e9b7";
  color: #475569;
}
.icon-Outline-External_Link:before {
  content: "\e9b8";
  color: #475569;
}
.icon-Outline-Filter:before {
  content: "\e9b9";
  color: #475569;
}
.icon-Outline-Filter3:before {
  content: "\e9ba";
  color: #475569;
}
.icon-Outline-Flag:before {
  content: "\e9bb";
  color: #475569;
}
.icon-Outline-Folder:before {
  content: "\e9bc";
  color: #475569;
}
.icon-Outline-Graph:before {
  content: "\e9be";
  color: #475569;
}
.icon-Outline-Heart:before {
  content: "\e9bf";
  color: #475569;
}
.icon-Outline-Help-circle:before {
  content: "\e9c0";
  color: #475569;
}
.icon-Outline-Hide:before {
  content: "\e9c1";
  color: #475569;
}
.icon-Outline-Home:before {
  content: "\e9c2";
  color: #475569;
}
.icon-Outline-Image:before {
  content: "\e9c3";
  color: #475569;
}
.icon-Outline-Image3:before {
  content: "\e9c4";
  color: #475569;
}
.icon-Outline-InfoSquare:before {
  content: "\e9c5";
  color: #475569;
}
.icon-Outline-Location:before {
  content: "\e9c6";
  color: #475569;
}
.icon-Outline-Lock:before {
  content: "\e9c7";
  color: #475569;
}
.icon-Outline-Login:before {
  content: "\e9c8";
  color: #475569;
}
.icon-Outline-Logout:before {
  content: "\e9c9";
  color: #475569;
}
.icon-Outline-Map:before {
  content: "\e9ca";
  color: #475569;
}
.icon-Outline-Message:before {
  content: "\e9cb";
  color: #475569;
}
.icon-Outline-message-text:before {
  content: "\e9cc";
  color: #475569;
}
.icon-Outline-Minus:before {
  content: "\e9cd";
  color: #475569;
}
.icon-Outline-MoreCircle:before {
  content: "\e9ce";
  color: #475569;
}
.icon-Outline-MoreSquare:before {
  content: "\e9cf";
  color: #475569;
}
.icon-Outline-More-vertical:before {
  content: "\e9d0";
  color: #475569;
}
.icon-Outline-Notification:before {
  content: "\e9d1";
  color: #475569;
}
.icon-Outline-Paper:before {
  content: "\e9d2";
  color: #475569;
}
.icon-Outline-PaperDownload:before {
  content: "\e9d3";
  color: #475569;
}
.icon-Outline-PaperFail:before {
  content: "\e9d4";
  color: #475569;
}
.icon-Outline-PaperNegative:before {
  content: "\e9d5";
  color: #475569;
}
.icon-Outline-PaperPlus:before {
  content: "\e9d6";
  color: #475569;
}
.icon-Outline-PaperUpload:before {
  content: "\e9d7";
  color: #475569;
}
.icon-Outline-Password:before {
  content: "\e9d8";
  color: #475569;
}
.icon-Outline-Play:before {
  content: "\e9d9";
  color: #475569;
}
.icon-Outline-Plus:before {
  content: "\e9da";
  color: #475569;
}
.icon-Outline-Profile:before {
  content: "\e9db";
  color: #475569;
}
.icon-Outline-Receipt-edit:before {
  content: "\e9dc";
  color: #475569;
}
.icon-Outline-receipt-search:before {
  content: "\e9dd";
  color: #475569;
}
.icon-Outline-Scan:before {
  content: "\e9de";
  color: #475569;
}
.icon-Outline-Search:before {
  content: "\e9df";
  color: #475569;
}
.icon-Outline-Send:before {
  content: "\e9e0";
  color: #475569;
}
.icon-Outline-Setting:before {
  content: "\e9e1";
  color: #475569;
}
.icon-Outline-share:before {
  content: "\e9e2";
  color: #475569;
}
.icon-Outline-ShieldDone:before {
  content: "\e9e3";
  color: #475569;
}
.icon-Outline-ShieldFail:before {
  content: "\e9e4";
  color: #475569;
}
.icon-Outline-Show:before {
  content: "\e9e5";
  color: #475569;
}
.icon-Outline-Shuffle:before {
  content: "\e9e6";
  color: #475569;
}
.icon-Outline-Star:before {
  content: "\e9e7";
  color: #475569;
}
.icon-Outline-Strongbox:before {
  content: "\e9e8";
  color: #475569;
}
.icon-Outline-Swap:before {
  content: "\e9e9";
  color: #475569;
}
.icon-Outline-Ticket:before {
  content: "\e9ea";
  color: #475569;
}
.icon-Outline-TicketStar:before {
  content: "\e9eb";
  color: #475569;
}
.icon-Outline-TickSquare:before {
  content: "\e9ec";
  color: #475569;
}
.icon-Outline-TimeCircle:before {
  content: "\e9ed";
  color: #475569;
}
.icon-Outline-TimeSquare:before {
  content: "\e9ee";
  color: #475569;
}
.icon-Outline-u_check:before {
  content: "\e9ef";
  color: #475569;
}
.icon-Outline-Unlock:before {
  content: "\e9f0";
  color: #475569;
}
.icon-Outline-Upload:before {
  content: "\e9f1";
  color: #475569;
}
.icon-Outline-Video:before {
  content: "\e9f2";
  color: #475569;
}
.icon-Outline-Voice:before {
  content: "\e9f3";
  color: #475569;
}
.icon-Outline-Voice3:before {
  content: "\e9f4";
  color: #475569;
}
.icon-Outline-VolumeDown:before {
  content: "\e9f5";
  color: #475569;
}
.icon-Outline-VolumeOff:before {
  content: "\e9f6";
  color: #475569;
}
.icon-Outline-VolumeUp:before {
  content: "\e9f7";
  color: #475569;
}
.icon-Outline-Wallet:before {
  content: "\e9f8";
  color: #475569;
}
.icon-Outline-Work:before {
  content: "\e9f9";
  color: #475569;
}
.icon-Outline-zap:before {
  content: "\e9fa";
  color: #475569;
}
.icon-Outline-opy:before {
  content: "\e9fb";
  color: #475569;
}
.icon-travelOutline-hotel:before {
  content: "\e9fc";
  color: #475569;
}
.icon-travelOutline-memo:before {
  content: "\e9fd";
  color: #475569;
}
.icon-travelOutline-plane:before {
  content: "\e9fe";
  color: #475569;
}
.icon-travelOutline-routing:before {
  content: "\e9ff";
  color: #475569;
}
.icon-travelOutline-simcard:before {
  content: "\ea00";
  color: #475569;
}
.icon-travelOutline-transfer:before {
  content: "\ea02";
  color: #475569;
}
.icon-travelOutline-tropical .path1:before {
  content: "\ea03";
  color: rgb(71, 85, 105);
}
.icon-travelOutline-tropical .path2:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-travelOutline-tropical .path3:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-travelOutline-tropical .path4:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-travelOutline-tropical .path5:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bold-Activity:before {
  content: "\ea08";
  color: #475569;
}
.icon-Bold-AddUser:before {
  content: "\ea09";
  color: #475569;
}
.icon-Bold-Arrow-Down:before {
  content: "\ea0a";
  color: #475569;
}
.icon-Bold-Arrow-Down2:before {
  content: "\ea0b";
  color: #475569;
}
.icon-Bold-Arrow-Down3:before {
  content: "\ea0c";
  color: #475569;
}
.icon-Bold-Arrow-DownCircle:before {
  content: "\ea0d";
  color: #475569;
}
.icon-Bold-Arrow-DownSquare:before {
  content: "\ea0e";
  color: #475569;
}
.icon-Bold-Arrow-Left:before {
  content: "\ea0f";
  color: #475569;
}
.icon-Bold-Arrow-Left2:before {
  content: "\ea10";
  color: #475569;
}
.icon-Bold-Arrow-Left3:before {
  content: "\ea11";
  color: #475569;
}
.icon-Bold-Arrow-LeftCircle:before {
  content: "\ea35";
  color: #475569;
}
.icon-united-kingdom .path1:before {
  content: "\ea12";
  color: rgb(240, 240, 240);
}
.icon-united-kingdom .path2:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom .path3:before {
  content: "\ea14";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom .path4:before {
  content: "\ea15";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom .path5:before {
  content: "\ea16";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom .path6:before {
  content: "\ea17";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom .path7:before {
  content: "\ea18";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom .path8:before {
  content: "\ea19";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom .path9:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom .path10:before {
  content: "\ea1b";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-kingdom .path11:before {
  content: "\ea1c";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-kingdom .path12:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-kingdom .path13:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-kingdom .path14:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-russia .path1:before {
  content: "\ea20";
  color: rgb(240, 240, 240);
}
.icon-russia .path2:before {
  content: "\ea21";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-russia .path3:before {
  content: "\ea22";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-uzbekistan .path1:before {
  content: "\ea23";
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path2:before {
  content: "\ea24";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-uzbekistan .path3:before {
  content: "\ea25";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-uzbekistan .path4:before {
  content: "\ea26";
  margin-left: -1em;
  color: rgb(109, 165, 68);
}
.icon-uzbekistan .path5:before {
  content: "\ea27";
  margin-left: -1em;
  color: rgb(51, 138, 243);
}
.icon-uzbekistan .path6:before {
  content: "\ea28";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path7:before {
  content: "\ea29";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path8:before {
  content: "\ea2a";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path9:before {
  content: "\ea2b";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path10:before {
  content: "\ea2c";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path11:before {
  content: "\ea2d";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path12:before {
  content: "\ea2e";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path13:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path14:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path15:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path16:before {
  content: "\ea32";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path17:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-uzbekistan .path18:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
