
.easy-tabs {
  height: 48px;
  display: grid;
  grid-auto-flow: column;
  background: transparent;
  border-radius: 12px;
  grid-auto-columns: 1fr;
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  backdrop-filter: blur(50px);
  min-width: unset !important;

  @for $i from 1 through 10 {
    &:has(:checked:nth-of-type(#{$i})) {
      --active: #{$i - 1};
    }
  }

  .label {
    padding: 0 0px;
    cursor: pointer;
    text-align: center;
    height: 100%;
    place-items: center;
    color: var(--light-text-color);
    transition: background, color;
    transition-duration: 0.25s;
    transition-timing-function: var(--ease, ease);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--cadet-blue-200);
    gap: 8px;
    user-select: none;
    i {
      font-size: 24px;
    }
    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  input[type="radio"]:checked + label {
    color: var(--black-500);
    font-weight: 600;
    i {
      color: var(--black-500) !important
    }
  }

  &::after {
    pointer-events: none;
    content: "";
    width: calc((100% - 10px) / var(--count));
    height: calc(100% - 10px);
    top: 5px;
    background: var(--bg-white);
    position: absolute;
    mix-blend-mode: darken;
    translate: calc(var(--active, 0) * 100% + 5px) 0;
    transition: translate, outline-color;
    transition-duration: 0.25s;
    box-shadow: var(--tabs-item-shadow);
    border-bottom: 1px solid var(--teal-500);
    z-index:2;
    box-sizing: border-box;
  }
  &.big {
    height: 54px;
  }
}
.easy-tabs > .input,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}