.p-button {
  width: 120px;
  height: 32px;
  border: none !important;
  padding: 8px 12px;

  &-icon-left {
    margin-right: 7px;
  }

  &-icon {
    width: 16px;
    height: 16px;
    color: var(--text-subtle);
  }

  &-label {
    color: var(--text-subtle);
    font-weight: 600;
    white-space: nowrap;
  }
  &:hover &-label, &:hover &-icon {
    color: var(--text-default);
  }
}

.p-overlaypanel {
  border: 1px solid var(--border-default);
  border-radius: 8px;
  overflow: hidden;

  &-content {
    padding: 8px;
  }

  .p-button {
    height: 44px !important;
  }

  .wrapper {
    max-height: calc(5 * 44px);
    overflow-y: auto;

    p {
      margin: 0;
    }

    .option {
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      height: 44px;
      padding: 10px 12px;
      border-radius: 8px;

      &.disabled {
        color: var(--text-disabled);
      }

      &:hover:not(.disabled) {
        background: var(--background-neutral-subtle-hovered);
      }

      &:not(.disabled).active {
        background: var(--background-neutral-subtle-pressed);
      }
    }
  }
}

.isOpen {
  background-color: var(--background-neutral-default) !important;

  .p-button-icon,
  .p-button-label {
    color: var(--text-default) !important;
  }
}
