.easy-select {
  .p-dropdown {
    height: 48px;
    border-radius: 12px;
    border: 1px solid var(--cadet-blue-300);
    background: transparent;
    box-shadow: var(--input-shadow);
    font-size: 15px;
    color: var(--neutral-800);

    &.p-invalid {
      border-color: var(--red-500);
    }

    &.p-disabled {
      border-color: var(--alpha-neutral200a);
      color: var(--alpha-neutral400a);
    }

    &-label {
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    &.p-focus {
      outline: 1px solid var(--teal-500);
    }

    .p-dropdown-filter.p-inputtext {
      height: 44px;
      border-radius: 12px;

      &:enabled:focus {
        outline: 1px solid var(--base-border-color);
      }
    }
  }

  .p-dropdown-trigger-icon {
    width: 20px;
    height: 20px;
  }

  &.has-label .p-dropdown {
    .p-inputtext:not(.p-dropdown-filter) {
      padding-bottom: 5px;
      padding-top: 20px;

      &::placeholder {
        opacity: 0;
      }
    }
  }

  .p-virtualscroller {
    overflow: auto;
  }

  .p-dropdown-panel {
    box-shadow: var(--datepicker-dropdown-shadow);
    border-radius: 12px;
    background: var(--bg-white);
    border: none;
  }

  .p-dropdown-items {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .p-dropdown-item  {
    height: 48px;
    border-radius: 8px;
    margin: 0;
    color: var(--black-500);

    &:hover {
      background: var(--alpha-neutral200a);
    }

    &.p-highlight {
      background: var(--alpha-neutral300a);
    }
  }

  .down-icon {
    color: var(--grey-500) !important;
    font-size: 20px;
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .rotate {
    transform: rotate(180deg)
  }
}