:root {
  //text color
  --text: #212121;
  --text-subtle: #475569;
  --text-subtlest: #868F9C;
  --text-inverse: #FFFFFF;
  --text-disabled: #D0D5DD;
  --text-selected: #00B5D7;
  --text-brand: #00B5D7;
  --text-danger: #F2376F;
  --text-accent-green: #27AE60;
  --text-accent-blue-bold: #0392B7;
  --text-accent-purple: #6A67F8;
  --text-accent-purple-bolder: #403E94;
  --text-accent-orange: #E56910;
  --text-accent-red: #F2376F;
  --text-accent-yellow: #FFCA00;
  --text-accent-teal: #86A8C2;
  //link color
  --text-link: #00B5D7;
  --text-link-hovered: #26A7D0;
  --text-link-pressed: #0392B7;
  //icon color
  --icon-primary: #212121;
  --icon: #475569;
  --icon-subtle: #868F9C;
  --icon-inverse: #FFFFFF;
  --icon-disabled: #D0D5DD;
  --icon-selected: #00B5D7;
  --icon-brand: #00B5D7;
  --icon-danger: #F2376F;
  --icon-warning: #E56910;
  --icon-success: #27AE60;
  --icon-dicover: #403E94;
  --icon-accent-red: #F2376F;
  --icon-accent-orange: #FF960E;
  --icon-accent-green: #27AE60;
  --icon-accent-purple: #6A67F8;
  --icon-accent-blue: #009CCD;
  //border color
  --border: #EAECF0;
  --border-bold: #D0D5DD;
  --border-bolder: #B2B8C6;
  --border-inverse: #FFFFFF;
  --border-disabled: #EAECF0;
  --border-focused: #1FBEDC;
  --border-selected: #00B5D7;
  --border-input: #D0D5DD;
  --border-input-disabled: #D0D5DD;
  --border-brand: #00B5D7;
  --border-danger: #F2376F;
  --border-green: #27AE60;
  --border-accent-green-subtle: #ACE7C2;
  --border-accent-purple: #6A67F8;
  --border-accent-purple-subtle: #D1C0F7;
  --border-accent-purple-subtler: #D6D6ED;
  --border-accent-orange: #FF9000;
  --border-accent-orange-subtle: #FFDEB4;
  --border-accent-yellow: #FFCA00;
  //background colors
  --background-accent-red-subtlest: #FFF1F5;
  --background-accent-red-subtler: #FDE5EC;
  --background-accent-red-subtle: #F2376F;
  --background-accent-red-bold: #F2376F;
  --background-accent-orange-subtlest: #FCF0E7;
  --background-accent-orange-subtle: #F7D1B5;
  --background-accent-orange-bold: #E56910;
  --background-accent-green-subtlest: #E6F5EE;
  --background-accent-green-subtle: #D3EFDE;
  --background-accent-green-bold: #27AE60;
  --background-accent-blue-subtlest: #F5FBFF;
  --background-accent-blue-subtler: #EEF4FC;
  --background-accent-blue-subtle: #E2F3FF;
  --background-accent-blue-bold: #00B5D7;
  --background-accent-purple-subtlest: #F7F8FF;
  --background-accent-purple-subtler: #F0F0FE;
  --background-accent-purple-subtle: #D6D6F8;
  --background-accent-purple-bold: #6A67F8;
  --background-accent-gray: #475569;
  --background-disabled: #EAECF0;
  --background-input: #F2F4F7;
  --background-inverse-subtle: #F5F7FA;
  --background-inverse: #FFFFFF;
  --background-neutral-subtler: #EEF4FC;
  --background-neutral-subtle: #FFFFFF;
  --background-neutral-subtle-hovered: #F6F8F9;
  --background-neutral-subtle-pressed: #EAECF0;
  --background-neutral: #EAECF0;
  --background-neutral-hovered: #DADBE0;
  --background-neutral-pressed: #D1D2D7;
  --background-neutral-bold: #475569;
  --background-neutral-bold-hovered: #414D60;
  --background-neutral-bold-pressed: #323C4B;
  --background-selected-subtler: #E2F3FF;
  --background-selected-subtler-hovered: #DCECF7;
  --background-selected-subtler-pressed: #D9E7F2;
  --background-selected-subtle: #D0E4FF;
  --background-selected-subtle-hovered: #C2D4EE;
  --background-selected-subtle-pressed: #BACBE5;
  --background-selected-bold: #00B5D7;
  --background-selected-bold-hovered: #26A7D0;
  --background-selected-bold-pressed: #1F8FB4;
  --background-brand: #00B5D7;
  --background-brand-hovered: #14A0CC;
  --background-brand-pressed: #0080AA;
  --background-danger: #F2376F;
  --background-danger-hovered: #D53163;
  --background-danger-pressed: #CB2E5E;
  --background-discovery-bold: #6A67F8;
  --background-discovery-bold-hovered: #605EE2;
  --background-discovery-bold-pressed: #4B49B0;
  --background-discovery-bolder: #504DB9;
  //surface
  --elevation-surface-subtlest: #F1F8FD;
  --elevation-surface-subtler: #FFFFFF59;
  --elevation-surface-subtle: #FFFFFFA6;
  --elevation-surface-overlay: #FFFFFF;
  --elevation-surface-loading : #DBE3F2;
  //charts
  --chart-red-subtler: #FFD0CE;
  --chart-red-subtle: #F5ADA9;
  --chart-red-bold: #F2376F;
  --chart-red-bold-hovered: #D53163;
  --chart-yellow-subtler: #FFEDD3;
  --chart-yellow-subtle: #F6D29B;
  --chart-yellow-bold: #FFCA00;
  --chart-green-subtler: #C6F7CE;
  --chart-green-subtle: #6EC693;
  --chart-green-bold: #27AE60;
  --chart-blue-bold: #33B8FF;
  --chart-pink-subtler: #F2E8FF;
  --chart-pink-subtle: #DCC1FF;
  --chart-pink-bold: #B983F1;
  --chart-purple-subtler: #DCE2FF;
  --chart-purple-subtle: #B6C0F6;
  --chart-purple-bold: #6A67F8;
}

.dark-mode {
  //text color
  --text: #F5F5F5;
  --text-subtle: #B9C2CB;
  --text-subtlest: #8C9BAB;
  --text-inverse: #000000;
  --text-disabled: #555D70;
  --text-selected: #1CD4F4;
  --text-brand: #1CD4F4;
  --text-danger: #F55F8C;
  --text-accent-green: #4EC165;
  --text-accent-blue-bold: #1CD5F4;
  --text-accent-purple: #A1ADFF;
  --text-accent-purple-bolder: #757BDF;
  --text-accent-orange: #F5851A;
  --text-accent-red: #F55F8C;
  --text-accent-yellow: #FFAD0F;
  --text-accent-teal: #86A8C2;
  //link color
  --text-link: #1CD4F4;
  --text-link-hovered: #00B5D7;
  --text-link-pressed: #0392B7;
  //icon color
  --icon-primary: #FFFFFF;
  --icon: #B9C2CB;
  --icon-subtle: #9FADBC;
  --icon-inverse: #1D2125;
  --icon-disabled: #7F838D;
  --icon-selected: #1CD4F4;
  --icon-brand: #1CD4F4;
  --icon-danger: #F00F5E;
  --icon-warning: #F5851A;
  --icon-success: #7EE2B8;
  --icon-dicover: #8F7EE7;
  --icon-accent-red: #F55F8C;
  --icon-accent-orange: #F5851A;
  --icon-accent-green: #2ABB7F;
  --icon-accent-purple: #6A67F8;
  --icon-accent-blue: #1CD4F4;
  //border color
  --border: #3B4555;
  --border-bold: #738496;
  --border-bolder: #8296A9;
  --border-inverse: #1F294C;
  --border-disabled: #2E3642;
  --border-focused: #1CD4F4;
  --border-selected: #1CD4F4;
  --border-input: #3B4555;
  --border-input-disabled: #2E3642;
  --border-brand: #1CD4F4;
  --border-danger: #F00F5E;
  --border-green: #29CE89;
  --border-accent-green-subtle: #5FC987;
  --border-accent-purple: #6A67F8;
  --border-accent-purple-subtle: #9D6AE8;
  --border-accent-purple-subtler: #9F8FEF;
  --border-accent-orange: #F5851A;
  --border-accent-orange-subtle: #FFBD72;
  --border-accent-yellow: #FFAD0F;
  //background color
  --background-accent-red-subtlest: #28131C;
  --background-accent-red-subtler: #3D1F2C;
  --background-accent-red-subtle: #28131C;
  --background-accent-red-bold: #F55F8C;
  --background-accent-orange-subtlest: #421908;
  --background-accent-orange-subtle: #A54800;
  --background-accent-orange-bold: #FEA362;
  --background-accent-green-subtlest: #243A2F;
  --background-accent-green-subtle: #214632;
  --background-accent-green-bold: #1C3329;
  --background-accent-blue-subtlest: #1E2330;
  --background-accent-blue-subtler: #262B3C;
  --background-accent-blue-subtle: #063346;
  --background-accent-blue-bold: #1CD5F4;
  --background-accent-purple-subtlest: #07061D;
  --background-accent-purple-subtler: #382C76;
  --background-accent-purple-subtle: #9F8FEF;
  --background-accent-purple-bold: #3A3988;
  --background-accent-gray: #516278;
  --background-disabled: #1F2532;
  --background-input: #9FADBC;
  --background-inverse-subtle: #161B26;
  --background-inverse: #2C3546;
  --background-neutral-subtler: #F5F7FA;
  --background-neutral-subtle: #262C3A;
  --background-neutral-subtle-hovered: #30384A;
  --background-neutral-subtle-pressed: #364156;
  --background-neutral: #2C3546;
  --background-neutral-hovered: #1F2532;
  --background-neutral-pressed: #344258;
  --background-neutral-bold: #D5DBE2;
  --background-neutral-bold-hovered: #BEC7D2;
  --background-neutral-bold-pressed: #9EACBC;
  --background-selected-subtler: #1E3352;
  --background-selected-subtler-hovered: #22416A;
  --background-selected-subtler-pressed: #244A80;
  --background-selected-subtle: #95C0FA;
  --background-selected-subtle-hovered: #C1D8FC;
  --background-selected-subtle-pressed: #DCE8FD;
  --background-selected-bold: #1CD4F4;
  --background-selected-bold-hovered: #00B7DA;
  --background-selected-bold-pressed: #0391B7;
  --background-brand: #1CD4F4;
  --background-brand-hovered: #00B7DA;
  --background-brand-pressed: #0391B7;
  --background-danger: #F2376F;
  --background-danger-hovered: #DF1F62;
  --background-danger-pressed: #F2376F;
  --background-discovery-bold: #4C2BA8;
  --background-discovery-bold-hovered: #4C2BA8;
  --background-discovery-bold-pressed: #27165F;
  --background-discovery-bolder: #CED2EF;
  //surface color
  --elevation-surface-subtlest: #161B26;
  --elevation-surface-subtler: #0C111D66;
  --elevation-surface-subtle: #0C111DCF;
  --elevation-surface-overlay: #282E33;
  --elevation-surface-loading : #A6C5E229;
  //charts color
  --chart-red-subtler: #811F1B;
  --chart-red-subtle: #FEA7A3;
  --chart-red-bold: #F00F5E;
  --chart-red-bold-hovered: #DF1F62;
  --chart-yellow-subtler: #FFEDD3;
  --chart-yellow-subtle: #F6D29B;
  --chart-yellow-bold: #FFCA00;
  --chart-green-subtler: #1C3329;
  --chart-green-subtle: #48BF8A;
  --chart-green-bold: #2ABB7F;
  --chart-blue-bold: #33B8FF;
  --chart-pink-subtler: #531C87;
  --chart-pink-subtle: #D5B4FE;
  --chart-pink-bold: #B983F1;
  --chart-purple-subtler: #312A85;
  --chart-purple-subtle: #A1ADFF;
  --chart-purple-bold: #6A67F8;
}