@use 'primevue/resources/themes/aura-light-green/theme.css';
@use './colors';
@use './fonts';
@use './utils';
@use './components/toast';
@use './components/table';

/* Import icomoon font */
@import './icomoon/style.css';


body *:not([class^='path']) {
  font-family: 'Mulish', sans-serif;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.d-block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}
.bg-transparent {
  background: transparent;
}

.border-none {
  border: none;
}

.justify-end {
  justify-content: flex-end;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.whitespace-nowrap {
  white-space: nowrap;
}
.flex-1 {
  flex: 1
}

.center {
  display: flex;
  @extend .items-center;
  @extend .justify-center;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}
.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}
.text-center {
  text-align: center;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
