// @use 'primevue/resources/themes/aura-light-green/theme.css';
@use './colors';
@use './fonts';

/* Import icomoon font */
@import './icomoon/style.css';

* {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'Mulish', sans-serif;
}